* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    height: 100vh;
}

/* Styling header */
header {
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 100%;
    z-index: 1000;
}

#logo img {
    max-width: 120px;
}

nav {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 5%;
}

nav ul li {
    list-style: none;
    display: inline;
    margin-right: 40px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    transition: all ease-in-out .3s;
}

nav a:hover {
    color: #ffa500;
}

.cover {
    position: relative;
    display: flex;
    align-items: center;
    background-image: url('img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    color: #fff;
}

.cover h1 {
    width: 60%;
    font-size: 5vw;
    margin-left: 20px;
}

.arrow {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow i {
    position: absolute;
    color: #fff;
    font-size: 8vw;
    font-weight: normal;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
}

@keyframes arrow {
    25% {
        transform: translateY(-50%);
    }
}



/* Styling main content */
main {
    background: #000;
    min-height: 100vh;
}

main h1 {
    color: #ffa500;
    text-align: center;
    padding: 80px;
    font-size: 50px;
    margin-bottom: 30px;
    font-style: italic;
}

#content {
    display: flex;
}

aside {
    width: 50%;
    text-align: center;
    margin: 20px;
}

aside div img {
    border-radius: 8px;

}

article {
    color: #000;
    margin: 20px;
}

article p {
    padding: 20px;
    font-size: 25px;
    color: #fff;
    line-height: 40px;
}

article ul {
    list-style-type: circle;
    width: 70%;
    padding: 30px;
    font-size: 25px;
    color: #fff;
}

.collection {
    margin-top: 50px;
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.collection div {
    width: 500px;
    height: 300px;
    background: #000;
    margin: 15px;
    overflow: hidden;
}

/* Styling footer */
footer {
    background-color: #000;
    text-align: center;
    padding: 10px;
}

footer p {
    color: #fff;
}

@media screen and (max-width: 1550px) {
    #content {
        flex-direction: column;
    }

    aside {
        width: 100%;
    }

    aside div img {
        width: 100%;
        max-width: 900px;
        height: auto;
    }
}

.js-scroll {
    opacity: 0;
    transition: opacity 500ms;
}

.js-scroll.scrolled {
    opacity: 1;
}


.scrolled.slide-left {
    animation: slide-in-left 1s ease-in-out both;
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}